<%-include('includes/head',{pageTitle:'Admin'})%>
</head>
<body>
    <h1>ADMIN</h1>
    <div>
      <form action="/admin/on" method="get">
          <input type="submit" value="Monitoring Start">
      </form>
      <form action="/admin/off" method="get">
        <input type="submit" value="Monitoring Stop">
      </form>
    </div>
    <br>
    <form action="/" method="get">
      <input type="submit" value="to Main">
    </form>

</body>

</html>