<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA_ADMIN</title>
</head>
<body>
    <h1>ADMIN</h1>
    <div>
      <form action="/admin/on" method="get">
          <input type="submit" value="Monitoring Start">
      </form>
      <form action="/admin/off" method="get">
        <input type="submit" value="Monitoring Stop">
      </form>
    </div>
    <br>
    <form action="/" method="get">
      <input type="submit" value="to Main">
    </form>

</body>

</html>