<%-include('includes/head',{pageTitle:'LoginPage'})%>
</head>
<body>
  <h2>CA login</h2>
    <form action="/login/kakao" method="get">
      <input type="submit" value="kakao login">
    </form>

</body>

</html>