<%-include('includes/head',{pageTitle:'CA - LoginPage'})%>
</head>
<body class="d-flex justify-content-center align-items-center min-vh-100 bg-dark">
  <div class="d-flex align-items-center flex-column border border-warning p-5 rounded-4 bg-dark">
    <h1 class="p-3 text-warning">Login</h1>
    <br>
      <form action="/login/kakao" method="get">
        <input class="btn btn-warning text-dark" type="submit" value="Kakao Login">
      </form>
  </div>

<%-include('includes/foot')%>