<%-include('includes/head',{pageTitle:'Main Page'})%>
</head>
<body>
    <h1>Main</h1>
    <p>Welcome! "<%=userEmail%>"</p>
    <br>
    <form action="/admin" method="get">
      <input type="submit" value="to admin">
    </form>
    <br>
    <form action="/setting/<%=userId%>" method="get">
      <input type="submit" value="alarm setting">
    </form>

</body>

</html>