<%-include('includes/head',{pageTitle:'CA - Main Page'})%>
</head>
<body class="d-flex justify-content-center align-items-center min-vh-100 bg-dark">
  <div class="d-flex align-items-center flex-column border border-warning p-5 rounded-4 bg-dark">
    <h1 class="p-3 text-warning">Main</h1>
    <p class="text-warning">Welcome! "<%=userEmail%>"</p>
    <br>
    <form action="/admin" method="get">
      <input class="btn btn-warning text-dark" type="submit" value="To Admin Page">
    </form>
    <br>
    <form action="/setting/<%=userId%>" method="get">
      <input class="btn btn-warning text-dark" type="submit" value="Alarm Setting">
    </form>
    <br>
    <form action="/login/logout" method="post">
      <input class="btn btn-warning text-dark" type="submit" value="Logout">
    </form>
  </div>

  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>

  <script type="module" src="/script/setServiceWorker.js"></script>
  <script type="module" src="/script/monitorMessage.js"></script>
  <script type="module" src="/script/requestNotification.js"></script>

</body>

</html>