<%-include('includes/head',{pageTitle:'CA - Main Page'})%>
</head>
<body class="d-flex justify-content-center align-items-center min-vh-100 bg-dark">
  <div class="d-flex align-items-center flex-column border border-warning p-5 rounded-4 bg-dark">
    <h1 class="p-3 text-warning m-0">Catholic Alarm</h1>
    <h3 class="p-3 text-warning">Main</h3>
    <p class="text-warning">Welcome! "<%=userEmail%>"</p>
    <br>
    <form action="/admin" method="get">
      <input class="btn btn-warning text-dark" type="submit" value="To Admin Page">
    </form>
    <br>
    <form action="/setting/<%=userId%>" method="get">
      <input class="btn btn-warning text-dark" type="submit" value="Alarm Setting">
    </form>
    <br>
    <form action="/login/logout" method="post">
      <input class="btn btn-warning text-dark" type="submit" value="Logout">
    </form>
    <br>
    <a class="link-success link-offset-2 link-underline link-underline-opacity-0" href="/manual">
      How To Use
    </a>

  </div>


  <script type="module" src="/script/setServiceWorker.js"></script>
  <script type="module" src="/script/requestNotification.js"></script>
<%-include('includes/foot')%>