<%-include('../includes/head',{pageTitle:'CA - 500'})%>
</head>
<body class="d-flex justify-content-center align-items-center min-vh-100 bg-dark">
  <div class="d-flex align-items-center flex-column border border-warning p-5 rounded-4 bg-dark">
    <h1 class="p-3 text-warning">500 Error!</h1>
    <p class="text-warning">Something went wrong !</p>
    <br>
    <form action="/" method="get">
        <input type="submit" class="btn btn-warning" value="to Main">
    </form>
  </div>

</body>

</html>